<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zhangruonan.mapper.FriendshipMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.zhangruonan.pojo.Friendship">
        <id column="id" property="id" />
        <result column="my_id" property="myId" />
        <result column="friend_id" property="friendId" />
        <result column="friend_remark" property="friendRemark" />
        <result column="chat_bg" property="chatBg" />
        <result column="is_msg_ignore" property="isMsgIgnore" />
        <result column="is_black" property="isBlack" />
        <result column="created_time" property="createdTime" />
        <result column="updated_time" property="updatedTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_list">
        id, my_id, friend_id, friend_remark, chat_bg, is_msg_ignore, is_black, created_time, updated_time
    </sql>

    <select id="queryMyFriends" resultType="org.zhangruonan.vo.ContactsVO">
        select
            fs.id as friendshipId,
            fs.my_id as mySelfId,
            fs.friend_id as myFriendId,
            u.face as myFriendFace,
            u.nickname as myFriendNickname,
            fs.friend_remark as myFriendRemark,
            fs.chat_bg as chatBg,
            fs.is_msg_ignore as isMsgIgnore,
            fs.is_black as isBlack
        from
            friendship fs
        left join
            users u
        on
            fs.friend_id = u.id
        where
            fs.my_id = #{paramMap.myId}
    </select>

</mapper>
